<% layout("layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>Listing Details</h3>
        </div>

        <div class="card col-6 offset-3 show-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img mt-3" alt="listing_image">
            <div class="card-body">
                <p class="card-text mt-3">
                    <b>
                        <%= listing.title %>
                    </b><br>
                    <%= listing.description %> <br>
                        <b>&#x20B9; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> %></b> <br>
                        <%= listing.location %> <br>
                            <%= listing.country %>
                </p>
            </div>
        </div>

        <div class="btns">
            <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark col-2 offset-3 edit-btn">Edit</a>

            <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
                <button class="btn btn-dark delete-btn offset-6">Delete</button>
            </form>
        </div>
    </div>